.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  padding-top: 20px;
  max-width: 240px;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.12), 0px 3px 3px rgba(0, 0, 0, 0.14),
    0px 6px 3px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.avatar {
  display: flex;
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  border-radius: 100%;
  fill: grey;
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 10px;
}

.name {
  font-size: 20px;
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: 700;
}
.tag,
.location {
  margin: 0;
  padding: 0;
  color: grey;
}
.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto;
  padding: 0;
  width: inherit;
  background-color: #7e6f7449;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.stats > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 59.5px;
  gap: 8px;

  padding: 10px;
  border-right: 1px solid grey;
}
.stats > li:last-child {
  border: none;
}
.label,
.quantity {
  font-size: 12px;
}
.label {
  color: grey;
}
.quantity {
  font-weight: 700;
}